



$winnerBackgroundColors: ("alabama": #9e1b32, "arkansas": #9d2235,  "auburn": #e87722, "florida": #fa4616, "georgia": #ba0c2f, "kentucky": #0033a0, "lsu": #461d7c,
"missouri": #f1b82d, "oleMiss": #006ba6, "mississippiState": #660000, /*#73000a, #ff8200, #500000, #866d4b */);



//VARIABLES//
$font-stack: "Baloo Paaji 2", cursive;
$font-stack-900: 'Orbitron', sans-serif;
$font-stack-700: 'Turret Road', cursive;
$primary-color: #333;
$date-background-color: #14213d;
$date-color: rgb(243, 194, 70);
$result-background: #0c2d99b2;


$bamaColor: #9e1b32;
$arkColor: #9d2235;
$auburnColor: #e87722;
$floridaColor: #fa4616;
$georgiaColor: #ba0c2f;
$kentuckyColor: #0033a0;
$lsuColor: #461d7c;
$missouriColor: #f1b82d;
$oleMissColor: #006ba6;
$missStColor: #660000;
$southCarolinaColor: #73000a;
$tennesseeColor: #ff8200;
$texasAmColor: #500000;
$vandyColor: #866d4b;

//VARIABLES//

//@each $winnerBackgroundColor in $winnerBackgroundColors {

.image {
    margin-left: 10rem;
    opacity: 25%;
    
}
    
.gameNum {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background: $date-color;
    margin-right: 57rem;
    border: solid whitesmoke;
    text-align: center;
    color: $date-background-color;
    font-size: 1.2rem;
    font: 100% $font-stack-700;

    


}

.container {
    display: grid;
    grid-template-columns: 20%;
    grid-auto-flow: column;
    
    
    
    
}


.result {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    margin-bottom: 2em;
    text-align: center;
    align-content: center;
    margin-right: 50rem;
    font: 100% $font-stack-700;
    border: solid whitesmoke;
    background-color: $date-color;
}



.date {
    background-color: $date-background-color;
    font: 100% $font-stack-700;
    text-align: center;
    font-size: 1.2rem;
    color: $date-color;
    padding-top: 0.8em;
    padding-bottom: 0.8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    margin-top: 0em;
    margin-bottom: 1.6em;
    border: solid whitesmoke;
    flex: 0 1 24%;
    
}

.winner {
    color: $date-color;
    background: $date-background-color;
    font-size: 1.2rem;
    
}

.loser {
    color: $date-color;
    background: $date-background-color;
    font-size: 1.2rem;
    
}

.rightColumn {
    align-content: right;
  }



